@charset "UTF-8";
$mainColor: #d61800;
$subColor: #e94f08;
$bodyColor: #000;
$htmlColor: $mainColor;
/* text color */
$txtColor: #bbb;
$titleColor: #fff;
$txtColor-wh: #666;
$strongColor: #bb4646;
$cautionColor: #ca5656;
/* parts color */
$bdrColor: #333;
$linkColor: $subColor;
$btnColor: $subColor;
$btnTextColor: #f0f0f0;
$thColor: #1a1a1a;
$tdColor: #111;
$captionColor: #271c15;
$bgColor-toggle: #c0c0c0;
$mNavColor: #1a1a1a;
$toggleColor: $subColor;
$toggleBgColor: rgba(0, 0, 0, 0.8);
$toggleColor-isActive: #fff;
$toggleBgColor-isActive: darken($toggleBgColor, 10%);
/* header */
$headerColor: $mainColor; //#333;
$headerNavColor: rgba(0, 0, 0, 0.9);
$headerNavColor-sp: rgba(0, 0, 0, 0.9);
$headerNavTextColor: #666;
$gNavBdrColor: #666;
/* footer */
$footerColor: #333;
$footerNavColor: #333;
/*wrap*/
$padSp-h: 2rem;
$padSp-v: 5vh;
$padTablet-h: 3rem;
$padTablet-v: 5vh;
$padPc-h: 6rem;
$padPc-v: 10vh;
$padPcEx-h: $padPc-h;
$padPcEx-v: $padPc-v;
/* sizes */
$maxWindow-Pc: 110rem;
$maxWindow-Ex: 160rem;
$innerWidth: 110rem;
$prevnextsize: 4rem;
$prevnextsizeSp: $prevnextsize * 0.6;
$prevnextLocate: 0;
$slick-arrow-color: #fafafa !default;
$tablePadding: 1rem;
$toggleSize: 2.5em;
/* etc */
$headerWidth-pc: 25rem;
$headerHeight-sp: 5rem;
$mainArticlePadding: 2em;
$gNavHeight-sp: $toggleSize + 4;
$paddingBottom-sp: $gNavHeight-sp;
/* media */
$breakSmall: 480px;
$breakMedium: 768px;
$breakLarge: 1024px;
$breakExlarge: 1280px;
/* Block names */
$siteHeader: "site-header--wrap";
/* inner */
@mixin MQ($canvas) {
  @if $canvas == sp-only {
    @media (max-width: $breakSmall - 1px) {
      @content;
    }
  } @else if $canvas == tablet {
    @media (min-width: $breakMedium) {
      @content;
    }
  } @else if $canvas == laptop {
    @media (min-width: $breakLarge) {
      @content;
    }
  } @else if $canvas == tablet-only {
    @media (min-width: $breakMedium) and(max-width: $breakLarge - 1px) {
      @content;
    }
  } @else if $canvas == lower-tablet {
    @media (max-width: $breakLarge - 1px) {
      @content;
    }
  } @else if $canvas == laptop-extra {
    @media (min-width: $breakExlarge + 1px) {
      @content;
    }
  }
}
$maxInnerWidth: $breakExlarge;
/* IDs */
// $siteHeader: "siteHeader-wrap";
